@import "compass-library/compass-library";

html {
  line-height: 130%;
}

h1 {
  font-size: 3rem;
  margin-bottom: (3rem / 2);
}

h2 {
  font-size: 2rem;
  margin-bottom: (2rem / 2);
}

p {
  margin-bottom: (4rem / 2);
}

.App {
  font-family: sans-serif;
  @include dere;
  padding: 60px;
}

.bt-remove {
  float: left;
}
